# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project output
data/output/

# Model cache
*.bin
*.safetensors
